.container{
    width: 100%;

    .content {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .itemsContainer {
            width: 30rem;
            height: 30rem;
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 2rem;

            .cardEmpty {
                width: 30rem;
                height: 25rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--white);
                border: 1px dashed var(--gray-850);
                border-radius: 1rem;
                font-size: 1.5rem;
            }
        }


        .boxsContainer {
            width: 100%;

            display: flex;
            align-items: center;

            justify-content: space-between;
        }

    }
}