.headerContainer {
    width: 100%;
    position: relative;
    background-color: var(--gray-900);
    border-bottom: 1px solid var(--gray-850);
    height: 5rem;

    .studyProgressContainer {
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -2px;

        div {
            position: absolute;
            height: 100%;
            transition: all 0.4s ease;
        }

        p {
            position: absolute;
            bottom: -20px;
            font-size: 12px;
            color: var(--white);
            transition: all 0.4s ease;
            transform: translateX(-100%);
        }
    }

    .content {
        max-width: 900px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-size: 2rem;
            font-weight: 600;
            color: var(--white);
        }

        h2 {
            color: var(--white);
            font-size: 2.5rem;
            text-align: center;
        }

        nav {
            display: flex;

            button {
                background-color: var(--yellow-500);
                height: 3rem;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                font-weight: bold;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--gray-850);
                margin-right: 1rem;
                cursor: pointer;

                &.studyButton {
                    background-color: var(--yellow-500);
                    border-radius: 0.5rem;
                }

                &:hover {
                    filter: brightness(0.8);
                }
            }

           nav > a {
                background-color: var(--yellow-500);
                width: 3rem;
                height: 3rem;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                font-weight: bold;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--gray-900);

                 
                margin-left: 1rem; 
            }
        }
    }
}